.bg-gradient-primary {
    background-color: #f6c23e;
    background-image: linear-gradient(180deg,#f6c23e 10%,#b68712 100%);
    background-size: cover;
}
.bg-gradient-info {
    background-color: #b68712;
    background-image: linear-gradient(180deg,#b68712 10%,#f6c23e 100%);
    background-size: cover;
}
.sidebar-dark .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.851);
    font-weight: bold;
}
.card-header {
    background-color: #e9e9e9;
}
.card-footer {
    background-color: #e9e9e9;
}
.sidebar-dark .nav-item .nav-link i {
    color: rgb(36, 34, 34);
}
.sidebar-dark .sidebar-brand {
    color: rgb(0, 0, 0);
}